*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
}

.layout{
    display:grid;
    grid-template-columns: 275px auto 350px;
    margin: 0 auto;
}

.layout-right-sidebar{
    position:fixed;
}

.brand{
    color: white; 
    height:28px; 
    text-align: center;
    margin: 0;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 25px;
}

.sidebar-menu{
    position:fixed;
    margin-top: 10px;
    padding-left: 25px;
}

.sidebar-menu-item{
    font-size: 19px;
    display:flex;
    align-items: center;
    font-weight: 700;
    padding: 10px;
}

.sidebar-menu-item:hover{
    background: rgba(29, 161, 242, 0.1);
    color:#1da0f2;
    border-radius: 20px;
    cursor: pointer;
}

.sidebar-menu-item-active{
    color:#1da0f2;
    
}

.sidebar-menu-item-icon{
    height: 26px;
    margin-right: 20px;
    color: white; 
     
}

.sidebar-menu-item-active .sidebar-menu-item-icon{
    filter: invert(52%) sepia(37%) saturate(3798%) hue-rotate(177deg) brightness(99%) contrast(91%);
}

.sidebar-menu-item-tweet{
    width:200px;
    background-color: #1da0f2;
    border:none;
    color:white;
    font-weight: 900;
    border-radius: 30px;
    height: 50px;
    margin-top: 20px;
}

.feed{
    flex: 0,5;
    border-right:1px solid #e6ecf0;
    min-width: fit-content;
    overflow-y: scroll;
}

.feed-header{
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    border-bottom:1px solid#e6ecf0;
    padding: 10px 20px;
}
.feed-header h2{
    font-size: 20px;
    font-weight: 800;
    padding-bottom:10x;
    padding-left:0;
    margin-left:0;
    text-align: start;
    text-wrap: nowrap;
}

.feed::-webkit-scrollbar{
    display: none;
}

.tweet-profile{ 
    border-radius:30%;
    height:35px; 
    padding-top: 2%;
}

.tweetBox form{
    display:flex;
    flex-direction: column;
}

.tweetbox-input input {
    flex:1;
    margin-left: 20px;
    font-size: 20px;
    padding-bottom:4%;
    border: none;
    outline: none;
}

.privacy:hover, .icons li:hover{
    background: #e7f5fe;
  }
  .privacy i{
    font-size: 18px; 
  }
  .privacy span{
    font-size: 15px;
    font-weight: 600;
    margin-left: 7px;
  }
  .bottom{
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: space-between;
  }
  .bottom .icons{
    display: inline-flex;
  }
  .icons li{
    list-style: none;
    color: #1da1f2;
    font-size: 20px;
    margin: 0 2px;
    height: 38px;
    width: 38px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background 0.2s ease;
  }

.tweetBox{
    padding-bottom: 10px;
    border-bottom: 2px solid #e6ecf0;
    padding-right: 10px;
}

.tweetBox-tweetButton{
 background-color: #1da0f2;
 border: none;
 color: white;
 font-weight: 900;
 border-radius: 30px ;
 width: 80px;
 height: 40px;
 margin-top: 20px;
 margin-left:auto;
}

.tweet{
    border-top: 2px solid #e6ecf0;
    display: flex;
    border-bottom:1px solid #e6ecf0;
    margin-bottom:2px;
    padding: 10px 15px;
}

.tweet:hover{
    background: rgba(0,0,0, 0.03);
    cursor: pointer;
}

.tweet a{
    color:#1b94e0;
    text-decoration: none;
}

.tweet a:hover{
    text-decoration: underline;
}

.tweet-author-logo{
    width: 49px;
    height: 49px;
    border-radius: 50%;
    margin-right: 10px; 
}
.tweet-header{
    display: flex;
}

.tweet-author-name{
font-size: 15px;
font-weight: 700;
color: #14171a;
margin-right: 5px;
}

.tweet-author-slug{
color:#5b7083;
font-size: 15px; 
}

.tweet-publish-time{
margin-left: 5px;
color:#657786;
}

img{
    border-radius: 5%;
}

.trend-searchbar input{ 
    border-radius: 15px;
    padding: 10px 55px;
    border: 1px solid #1da0f2;
    color: #1da0f2; 
}

.trends-for-you {
    border-radius: 15px;
    background: #f5f8fa;
    margin-bottom: 15px;
  }
  
  .trends-for-you-block {
    border-bottom: 1px solid #e6ecf0;
    padding: 10px 15px;
  }
  
  .trends-for-you-block:last-child {
    border-bottom: none;
  }
  
  .trends-for-you-heading {
    font-size: 19px;
    font-weight: bold;
    color: #14171a;
  }
  
  .trends-for-you-meta-information {
    font-size: 13px;
    font-weight: 300;
    color: #657786;
  }
  
  .trends-for-you-trend-name {
    font-size: 15px;
    color: #14171a;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 2px;
  }

  .who-to-follow {
    background: #f5f8fa;
    border-radius: 15px;
  }
  
  
  .who-to-follow-block {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e6ecf0;
  }
  
  .who-to-follow-block:last-child {
    border-bottom: none;
  }
  
  .who-to-follow-author-logo {
    width: 49px;
    height: 49px;
    border-radius: 50px;
    margin-right: 10px;
  }
  
  .who-to-follow-author-slug {
    color: #657786;
    font-size: 15px;
  }
  
  .who-to-follow__author-name {
    font-size: 15px;
    font-weight: 700;
  }
  
  .who-to-follow-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .who-to-follow-heading {
    font-size: 19px;
    font-weight: bold;
    color: #14171a;
  }
  
  .who-to-follow-button {
    border: 1px solid #1da0f2;
    color: #1da0f2;
    font-size: 15px;
    font-weight: 700;
    border-radius: 15px;
    padding: 5px;
    min-width: 67px;
    text-align: center;
  }
  
  .who-to-follow-button:hover {
    background: rgba(29, 161, 242, 0.1);
    cursor: pointer;
  } 
  